<section
  style='display: flex; align-items: center; justify-content: center; min-height: 100vh; padding: 16px; background-color: #f3f4f6;'
>
  <div
    style='width: 100%; max-width: 32rem; padding: 24px; margin: 0 auto; background-color: #ffffff; border-radius: 8px; box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.06);'
  >
    <div
      style='width: 100%; display: flex; justify-content: center; margin-bottom: 16px;'
    >
      <h2 style='font-size: 1.5rem; font-weight: 800; color: #ff7e00;'>
        <span style='color: #1e3a8a;'>Tee</span>vil.
      </h2>
    </div>
    <hr
      style='margin-bottom: 16px; border: none; border-top: 1px solid #d1d5db;'
    />
    <h1
      style='margin-bottom: 16px; font-size: 1.25rem; font-weight: 600; text-align: center;'
    >
      Forgot
    </h1>
    <p style='margin-bottom: 16px; text-align: center; color: #4b5563;'>
      Hello,
      {{name}}, Kindly use the password below to login:
    </p>
    <h3>Password: {{dummyPassword}}</h3>
    <div style='margin-bottom: 16px; text-align: center;'>
      <p style='font-size: 2rem; font-weight: 700;'>{{reset_token}}</p>
    </div>
    <div style='padding-top: 16px; border-top: 1px solid #d1d5db;'>
      <p style='margin-bottom: 16px; color: #4b5563;'>
        In case you were not trying to access your Teevil account & are seeing
        this email, please follow the instructions below:
      </p>
      <ul
        style='margin-bottom: 16px; color: #4b5563; list-style-type: disc; padding-left: 16px;'
      >
        <li>Reset your Teevil password.</li>
        <li>Check if any changes were made to your account & user settings. If
          yes, revert them immediately.</li>
        <li>
          If you are unable to access your Teevil account, then contact
          <a href='mailto:support@teevil.ng' style='color: #2563eb;'>Teevil
            support</a>.
        </li>
      </ul>
    </div>
    <p
      style='margin-top: 24px; font-size: 0.875rem; text-align: center; color: #6b7280;'
    >
      Best regards,
    </p>
    <p
      style='margin-top: 8px; font-size: 0.875rem; text-align: center; color: #6b7280;'
    >
      Teevil team.
    </p>
  </div>
</section>